
.sidenav {
height: 100%;
width: 160px;
position: fixed;
z-index: 10;
/* top: 0; */
left: 0;
background-color: #eee;
overflow: auto;
padding-top: 20px;
}

.sidenav a {
padding: 0 0 0 0;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
}

.sidenav a:hover {
color: #f1f1f1;
}

@media screen and (max-width: 700px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    /* .sidenav a {float: left;}
    div.content {margin-left: 0;}
    .spacing-left {
        margin-left: 1000px;
    }
    .main {
    margin-left: 140px; Same width as the idebar + left position in px
    font-size: 28px; Increased text to enable scrolling
    padding: 0px 10px;
    } */
}

@media screen and (max-width: 400px) {
    .sidenav a {
        text-align: center;
        float: none;
    }
}
